<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Merriweather|Merriweather+Sans:400,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="css/style.css"> <!-- Resource style -->
	<script src="js/modernizr.js"></script> <!-- Modernizr -->

	<title>Blank Page Labs | We provide AI</title>
</head>
<body>
	<header>
		<h1>Blank Page Labs | Big From Small</h1>
	</header>

	<ul class="cd-container">
		<li class="cd-service cd-service-divider"></li>

		<li class="cd-service cd-service-1">
			<h2>DATA RESEARCH</h2>
			<p>We are data-researchers! We find right data, analyze it and provide best solutions for different markets</p>
		</li> <!-- cd-service -->

		<li class="cd-service cd-service-2">
			<h2>MULTIPLATFORM SOLUTIONS</h2>
			<p>We are gadget enthusiasts! We intend to support all the products that are and ever will be on the market!</p>
		</li> <!-- cd-service -->

		<li class="cd-service cd-service-3">
			<h2>DATA PROVIDING</h2>
			<p>We are graph builders! We love building graphs, data matrices, correlations, networks and even binary (if you are into that kind of thing)</p>
		</li> <!-- cd-service -->

		<li class="cd-service cd-service-4">
			<h2>ARTAFICIAL INTELLIGENCE</h2>
			<p>We are AI followers! Our goal is to build the best AI infrastructure in this Universe and deliver it to you. We embrace deep learning and we are not afraid of sentient machines.</p>
		</li> <!-- cd-service -->

		<li class="cd-service cd-service-divider"></li>
	</ul> <!-- cd-services -->

	<footer>Blank Page Labs ©2015</footer>
<script src="js/jquery-2.1.1.js"></script>
<script src="js/main.js"></script> <!-- Resource jQuery -->
</body>
</html>
